/*css padrão */

.galleria{list-style:none;width:200px}
.galleria li{display:block;width:80px;height:80px;overflow:hidden;float:left;margin:0 10px 10px 0; list-style: none;}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
* html .galleria li div span{width:400px} /* MSIE bug */

span.caption{color:#fff; width: 100%; background-color: #000000; display: block; padding: 2px 0 2px 0;}
/*span.caption{color:#fff; width: 700px; background-color: #000000; display: block; padding: 2px 0 2px 0;}*/




/* css do layout */

.gallery_demo{width:100%;margin-top: 15px;}

.gallery_demo li{width:67px;height:50px;border:3px double #ccc;margin: 0 2px; list-style: none;}

#main_image{margin:0 auto 0 auto;width:100%;}

#main_image img{margin-bottom:10px;width: 100%;}

/*.demo{position:relative;margin-top:2em; float: none; width: 100%;}*/

/*.gallery_demo{width:702px;margin:0 auto;}*/
	
/*#main_image{margin:0 auto 0 auto;height:498px;width:700px;}*/

/*#main_image img{margin-bottom:10px;}*/


/*.nav{padding-bottom:5px;clear:both;font:9px 'helvetica neue',sans-serif;letter-spacing:3px;text-transform:uppercase;}*/