body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

header .logo{
    max-width: 950px;
    width: 950px;
    height: 120px;
    text-align: center;
    position: relative;
    margin-left: -450px;
    left: 50%;
}

.menuPrincipal{
    background-color: #0054aa;
}

.menuTopo{
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 950px;
    width: 950px;
    position: relative;
    margin-left: -450px;
    left: 50%;
    height: 36px;
}

.menuTopo li {
    position: relative;
    float: left;
}

.menuTopo li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
}

.menuTopo li a:hover {
    background-color: #005fc0;
    color: #008dfb;
}

.menuTopo li ul{
    position: absolute;
    background-color: #0054aa;
    display: none;
    list-style: none;
    padding: 0;
}

.menuTopo li ul li{
    width:150px;
    border-bottom: 1px solid white;
}

.menuTopo li ul li a {
    display:block;
    text-align: left;
}

.menuTopo li:hover ul{
    display: block;
}