.horarioSecretaria{
    width:97%;
    color: #646464;
    background-color: #e6e6e6;
    position: relative;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.horarioMissas{
    width:100%;
    color: white;
    background-color: #0054aa;
    position: relative;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.procurar{
    float: right;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

p{
    text-align: justify !important;
}

h3{
    color:  #0054aa !important;
    font-weight: bold !important;
    padding-left: 15px;
    border-left: 5px solid #0054aa;
}

.linksIMG a{
    opacity: 0.5;
}

.linksIMG a:hover{
    opacity: 1;
}