.container-fluid{
    padding: 0;
}

.semPadding{
    padding: 0 !important;
}

.fundoMenu{
    background-color: #0054AA;
}

.fundoMenu2{
    background-color: #003d71;
}

.navbar{
    margin-bottom: 0 !important;
    border: 0 !important;
    background-color: #0054aa;
    border-radius: 0 !important;
}

.navbar ul li a{
    color: white !important;
}

.nav > li > a{
    color: white !important;
}

.nav > li > a:hover{
    color: #0054AA !important;
    background-color: white !important;
}

.navbar-form{
    margin: 0 !important;
}

.text-info{
    padding: 5px 0 5px 0;
}

.borda{
    border: 1px solid black !important;
}

.dropdown:hover .dropdown-menu{
    display: block !important;
}

.dropdown-menu > li > a:hover{
    color: #0054AA !important;
    background-color: white !important;
}

/* datapicker*/
#ui-datepicker-div{
    font-size: 12px !important;
}

.ui-widget-header{
    background-color: #aed4e1 !important;
}